[Desktop Entry]
Name=Ethereal Waves
Comment=Ethereal Waves
Type=Application
Icon=icon
Exec=ethereal-waves %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
